---
siteName: Sam's Design
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{siteName}} | {{ title }}</title>
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/main.js"></script>
</head>
<body>
  
  {% include "nav.njk" %}

  <main class="home-page">
  {{ content | safe }}
  </main>
    
    <footer class="site-footer">
        <!--footer content-->
        <div class="copyright">
        <p>&copy; {{ pkg.author }} </p>
        </div>
        <div class="social">
            <ul>
                <li><a href='#'><img src="/images/linkedin_logo.png"></a></li>
                <li><a href='#'><img src="/images/twt_logo.png"></a></li>
                <li><a href='#'><img src="/images/ig_logo.png"></a></li>
                <li><a href='#'><img src="/images/mail_logo.png"></a></li>
                <!--Link stand-ins. Yet to determine actual links-->
            </ul>
        </div>
    </footer>
</body>
</html>